<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p> Dear <strong>{{managersName}}</strong>,<br><br> Please accept this letter as formal notification of my intention to resign from my position as <strong>{{jobTitle}}</strong> with <strong>{{companyName}}</strong>. My final day will be <strong>{{dateOfLastDay}} </strong>        as per my notice period.<br><br> I would like to thank you for the opportunity to have worked in the position for the past <strong>{{timeInEmployment}}</strong>. I have learned a great deal during my time here and have enjoyed collaborating with
        my colleagues. I will take a lot of what I have learned with me in my career and look back at my time here as a valuable period of my professional life.<br><br> During the next <strong>{{noticePeriodInWeeks}}</strong>, I will do what I can to
        make the transition as smooth as possible and will support in whatever way I can to hand over my duties to colleagues or to my replacement. Please let me know if there is anything further I can do to assist in this process.<br><br> Sincerely,

        <br><br>

        <strong>{{name}}</strong>
</body>

</html>